body {
    padding: 0;
    margin: 0;
    background-color: yellow;
    overflow: hidden;
    height: 1100px;
    border: 1px solid red;
}

#container  {
    display: flex;
    gap:100px;
    justify-content: center;
    position: relative;
    top: 400px;
}

#punktfirst {
    border: 4px solid gray;
    background-color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

#punktsecond {
    border: 4px solid gray;
    background-color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

#punktthird {
    border: 4px solid gray;
    background-color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

#punktfour {
    border: 4px solid gray;
    background-color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

#punktfive {
    border: 4px solid gray;
    background-color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}



#line1 {
    width: 100px;
    background-color: gray;
    height: 4px;
    position: relative;
    top:-55px;
    left:34px
}

#line2 {
    width: 100px;
    background-color: gray;
    height: 4px;
    position: relative;
    top:-72px;
    left:34px
}

#line3 {
    width: 100px;
    background-color: gray;
    height: 4px;
    position: relative;
    top:-72px;
    left:34px
}

#line4 {
    width: 100px;
    background-color: gray;
    height: 4px;
    position: relative;
    top:-72px;
    left:34px
}

.positionI {
    position: relative;
    top:6px;
    left: 8px; 
}

.arrow {
    display: flex;
    gap: 80px;
    justify-content: center;
    position: relative;
    top:470px;
    text-align: center;
}

#arrowPosition {
    border: 4px solid blueviolet;
    width: 50px;
    height: 40px;
    background-color: blueviolet;
    position: relative;
    color: white;
    border-radius: 5%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    font-size: 40px;
    opacity: 80%;

}

#arrowright:hover{
    cursor: pointer;
    opacity: 90%;
}

#arrowleft:hover{
    cursor: pointer;
    opacity: 90%;
}



 
